openapi: 3.1.0
info:
  title: Nifty PM Authentication Projects API
  description: 'Nifty''s public API exposes REST endpoints for managing

    projects, tasks, documents, files, folders, milestones,

    members, and webhooks. Access requires an access token

    obtained from the authentication endpoint, and is gated

    to customers on the Business plan and above.

    '
  version: 1.0.0
servers:
- url: https://openapi.niftypm.com/api/v1.0
  description: Nifty public OpenAPI base URL
security:
- bearerAuth: []
tags:
- name: Projects
paths:
  /projects:
    get:
      summary: List projects
      operationId: listProjects
      tags:
      - Projects
      responses:
        '200':
          description: Projects collection
    post:
      summary: Create a project
      operationId: createProject
      tags:
      - Projects
      responses:
        '201':
          description: Project created
  /projects/{id}:
    get:
      summary: Get a project by ID
      operationId: getProject
      tags:
      - Projects
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project details
    put:
      summary: Update a project
      operationId: updateProject
      tags:
      - Projects
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project updated
    delete:
      summary: Delete a project
      operationId: deleteProject
      tags:
      - Projects
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Project deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token authentication. Obtain an access token from the

        /token endpoint and pass it in the Authorization header as

        `Authorization: Bearer <token>`.

        '
