openapi: 3.1.0
info:
  title: Nifty PM Authentication Documents API
  description: 'Nifty''s public API exposes REST endpoints for managing

    projects, tasks, documents, files, folders, milestones,

    members, and webhooks. Access requires an access token

    obtained from the authentication endpoint, and is gated

    to customers on the Business plan and above.

    '
  version: 1.0.0
servers:
- url: https://openapi.niftypm.com/api/v1.0
  description: Nifty public OpenAPI base URL
security:
- bearerAuth: []
tags:
- name: Documents
paths:
  /documents:
    get:
      summary: List documents
      operationId: listDocuments
      tags:
      - Documents
      responses:
        '200':
          description: Documents collection
    post:
      summary: Create a document
      operationId: createDocument
      tags:
      - Documents
      responses:
        '201':
          description: Document created
  /documents/{id}:
    get:
      summary: Get a document
      operationId: getDocument
      tags:
      - Documents
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Document details
    put:
      summary: Update a document
      operationId: updateDocument
      tags:
      - Documents
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Document updated
    delete:
      summary: Delete a document
      operationId: deleteDocument
      tags:
      - Documents
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Document deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token authentication. Obtain an access token from the

        /token endpoint and pass it in the Authorization header as

        `Authorization: Bearer <token>`.

        '
